article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply mb-4 mt-2 text-text dark:text-text-dark;
}

article h1 {
  @apply text-4xl font-bold;
}

article h2 {
  @apply text-2xl font-bold;
}

article h3 {
  @apply text-xl font-bold;
}

article h4 {
  @apply text-lg font-bold italic;
}

article h5 {
  @apply text-base font-bold italic;
}

article h6 {
  @apply text-sm font-bold italic;
}

article li {
  @apply ml-6;
}

article {
  @apply ml-2 text-text dark:text-text-dark;
}
article li::before {
  @apply inline-block w-3 text-xl text-accent dark:text-accent-dark;
  content: "•";
}

article ul,
article ol {
  @apply mb-2;
}

article li p {
  @apply inline;
}

article pre {
  @apply rounded-sm;
}

article h2#table-of-contents {
  @apply mb-2;
}
article details {
  @apply inline-block cursor-pointer select-none text-text dark:text-text-dark;
}
article summary {
  @apply outline-2 outline-offset-1 outline-fill focus-visible:no-underline focus-visible:outline-dashed dark:outline-fill-dark;
}
article h2#table-of-contents + p {
  @apply hidden;
}

article code {
  @apply rounded bg-card px-1 py-0.5 font-mono text-sm dark:bg-card-dark;
}

article blockquote {
  @apply ml-2 border-l-4 border-accent pl-4 opacity-80 dark:border-accent-dark;
}

/* Code blocks, let shiki style go through */
.astro-code code {
  @apply bg-transparent dark:bg-transparent;
}

article hr {
  @apply mb-6 mt-4 h-0 border-t border-accent dark:border-accent-dark;
}

code,
blockquote {
  word-wrap: break-word;
}

pre > code {
  white-space: pre;
}
