---
import Date from "@components/Date.astro";
import Tag from "./Tag.astro";
import type { CollectionEntry } from "astro:content";

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
const { slug } = post;
const { title, pubDate, description } = post.data;
---

<li class="mb-6">
  <a
    href=`/blog/${slug}`
    class="text-skin-accent inline-block text-2xl font-medium decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {title}
  </a>
  <div class="flex items-center gap-4">
    <Date date={pubDate} />
  </div>

  <p class="font-[Roboto] text-lg">{description}</p>
</li>
