---
const { title, favicon } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<head>
  <meta charset="utf-8" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <ViewTransitions fallback="animate" />
</head>
