---
interface Props {
  hoverEffect?: boolean;
  headline?: boolean;
}

const { hoverEffect = false, headline = false } = Astro.props;
const hoverClass: string = hoverEffect ? "hover:text-orange-300" : "";
const headlineClass: string = headline
  ? "rounded-2xl my-2 pt-[0.125rem] pb-2 px-2"
  : "rounded-lg my-2 py-[0.125rem] px-1";
---

<div
  class={`inline-flex backdrop-blur-[1px] transition-all text-orange-400 bg-[#9f540033] ${hoverClass} ${headlineClass}`}
>
  <slot />
</div>
