---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="mx-auto mb-4 mt-6 max-w-3xl" class:list={[className]}>
  <hr aria-hidden="true" class="h-0 border-t border-border-dark" />
</div>
