---
import Card from "@components/Card.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

import "@styles/global.css";
import "@styles/post.css";

export async function getStaticPaths() {
  // Get all unique tags from posts
  const posts: Array<CollectionEntry<"blog">> = await getCollection("blog");
  const tags = posts.reduce<Array<String>>((acc, post) => {
    post.data.tags.forEach((tag) => {
      if (!acc.includes(tag)) {
        acc.push(tag);
      }
    });
    return acc;
  }, []);

  const tagsResult = tags.map((tag) => {
    return {
      params: {
        tag: tag,
      },
      props: {
        tag: tag,
      },
    };
  });

  return [...tagsResult];
}

export interface Props {
  tag: string;
}

const { tag } = Astro.props;
const posts: Array<CollectionEntry<"blog">> = await getCollection("blog");
const filteredPosts = posts.filter((post) => {
  return post.data.tags.includes(tag);
});

const firstLetterUppercase = (str: string) => {
  return str.charAt(0).toUpperCase() + str.slice(1);
};
---

<BlogLayout title="Hilan's blog posts" activeNav="posts">
  <section class="mb-6 mt-8 flex flex-col gap-2">
    <p class="font-mono">
      Home > Tags > {firstLetterUppercase(tag)}
    </p>
    <h2>Posts</h2>
    <p class="italic">All the articles I've posted.</p>
  </section>
  <section>
    {
      filteredPosts.map((post) => {
        return <Card post={post} />;
      })
    }
  </section>
</BlogLayout>
