---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

export interface Props {
  favicon?: string;
  title?: string;
  activeNav?: "posts" | "tags" | "";
  class?: string;
}
const {
  favicon = "/favicon.svg",
  title = "Hilan's blog",
  activeNav = "",
  class: className,
} = Astro.props;
---

<html lang="en" class="dark">
  <Head />
  <body
    class="mx-auto flex min-h-screen max-w-3xl flex-col bg-fill font-sans text-text dark:bg-fill-dark dark:text-text-dark"
  >
    <Header activeNav={activeNav} />
    <main class:list={["mb-auto h-max px-4", className]}>
      <slot />
    </main>
    <Footer />
    <script is:inline lang="ts">
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
